<div class="container">
    <div class="child-1">
        <div class="child-1-1">
            <p>About</p>
        </div>
        <div class="child-1-2">
            <p>
                My name is <span style="color: #333333;">Mrinal Kumar karn</span> and my portfolio is a representation
                of all of that I have learned
                and accomplished as <span>C.S.E</span> student.I am a programmer who like to develop and build software
                things.
                I like reading books and am a <a href="https://dictionary.cambridge.org/dictionary/english/epicure"
                    target="_blank" style="color: #6d6d6d; text-decoration: none;">epicure</a> who always ready to learn
                new things.</p>
        </div>
        <div class="child-1-3">
            <div></div>
            <div class="ln">
                <a href="https://www.linkedin.com/in/mrinal-kumar-karn-502133171/" target="_blank" (mouseover)="ln = false" (mouseout)="ln = true">
                    <img *ngIf="ln;else dark"
                    src="./../../assets/svg/linkedin-brands.svg">
                    <ng-template #dark><img src="./.././../assets/svg/linkedin-brands-dark.svg"></ng-template>
                </a>
            </div>
            <div class="fb">
                <a href="https://www.facebook.com/mrinal.kumarkarn" target="_blank" (mouseover)="fb = false" (mouseout)="fb = true">
                    <img  *ngIf="fb;else darkfb" src="./../../assets/svg/facebook-square-brands.svg">
                    <ng-template #darkfb><img src="./.././../assets/svg/facebook-square.svg"></ng-template>
                </a>
            </div>
            <div class="gb">
                <a href="https://github.com/mrinal2305" target="_blank" (mouseover)="gb = false" (mouseout)="gb = true" >
                    <img  *ngIf="gb;else darkgb" src="./../../assets/svg/github-square-brands.svg">
                    <ng-template #darkgb><img src="./.././../assets/svg/github-s.svg"></ng-template>
                </a>
            </div>
            <div class="gm">
                <a href="mailto:mrinalkumarkarn24@gmail.com" target="_blank" (mouseover)="gm = false" (mouseout)="gm = true">
                    <img  *ngIf="gm;else darkgm" src="./../../assets/svg/envelope-square-solid.svg">
                    <ng-template #darkgm><img src="./.././../assets/svg/envelope-square.svg"></ng-template>
                </a>
            </div>
            <div class="logo"></div>
        </div>
    </div>
    <div class="child-2">
        <div class="child-2-1">
            <p>Education</p>
        </div>
        <div class="child-2-2">
            <div class="child-2-3-1">
                <div class="child-2-3-1-1">
                    <p>Sunshine Prep/High School</p>
                </div>
                <div class="child-2-3-1-2">
                    <p>X</p>
                </div>
                <div class="child-2-3-1-3">
                    <p>2015-2017</p>
                </div>
                <div class="child-2-3-1-4">
                    <p>10 CGPA</p>
                </div>
            </div>
        </div>
        <div class="child-2-3">
            <div class="child-2-3-1">
                <div class="child-2-3-1-1">
                    <p>School of Creative Learning</p>
                </div>
                <div class="child-2-3-1-2">
                    <p>XII</p>
                </div>
                <div class="child-2-3-1-3">
                    <p>2017-2021</p>
                </div>
                <div class="child-2-3-1-4">
                    <p>84.6 %</p>
                </div>
            </div>
        </div>
        <div class="child-2-4">
            <div class="child-2-3-1">
                <div class="child-2-3-1-1">
                    <p>NIT ,PATNA</p>
                </div>
                <div class="child-2-3-1-2">
                    <p>B.Tech ,CSE</p>
                </div>
                <div class="child-2-3-1-3">
                    <p>2017-Current</p>
                </div>
                <div class="child-2-3-1-4">
                    <p>7.60 CGPA</p>
                </div>
            </div>
        </div>
    </div>
</div>