<div class="container">
    <div class="child-1">
        <div class="child-1-1">
            <p>About</p>
        </div>
        <div class="child-1-2">
            <p>
                My name is Mrinal Kumar karn and my portfolio is a representation of all of that I have learned
                and accomplished as CSE student.I am a programmer who like to develop and build software things.
                I like reading books and am a <a href="https://dictionary.cambridge.org/dictionary/english/epicure"
                    target="_blank" style="color: #6d6d6d;">epicure</a> who always ready to learn new things.</p>
        </div>
        <div class="child-1-3">
            <div ></div>
            <div class="ln">
                <img src="./../../assets/svg/linkedin-brands.svg">
            </div>
            <div class="fb">
                <img src="./../../assets/svg/facebook-square-brands.svg">
            </div>
            <div class="gb">
                <img src="./../../assets/svg/github-square-brands.svg">
            </div>
            <div class="gm">
                <img src="./../../assets/svg/envelope-square-solid.svg">
            </div>
            <div class="logo"></div>
        </div>
    </div>
    <div class="child-2">
        <div class="child-2-1">
            <p>Education</p>
        </div>
        <div class="child-2-2">
                 <div class="child-2-3-1">
               <div class="child-2-3-1-1">
                   <p >Sunshine Prep/High School</p>
               </div>
               <div class="child-2-3-1-2">
                   <p >X</p>
               </div>
               <div class="child-2-3-1-3">
                   <p>2015-2017</p>
               </div>
               <div class="child-2-3-1-4">
                   <p>10 CGPA</p>
               </div>
           </div>
        </div>
        <div class="child-2-3">
           <div class="child-2-3-1">
               <div class="child-2-3-1-1">
                   <p >School of Creative Learning</p>
               </div>
               <div class="child-2-3-1-2">
                   <p >XII</p>
               </div>
               <div class="child-2-3-1-3">
                   <p>2017-2021</p>
               </div>
               <div class="child-2-3-1-4">
                   <p>84.6 %</p>
               </div>
           </div>
        </div>
        <div class="child-2-4">
            <div class="child-2-3-1">
                <div class="child-2-3-1-1">
                    <p >NIT ,PATNA</p>
                </div>
                <div class="child-2-3-1-2">
                    <p >B.Tech ,CSE</p>
                </div>
                <div class="child-2-3-1-3">
                    <p>2017-Current</p>
                </div>
                <div class="child-2-3-1-4">
                    <p>7.60 CGPA</p>
                </div>
            </div>
        </div>
    </div>
</div>