<div class="container">
    <div class="child-1">
        <div class="child-1-1 animated" style="animation-duration: 2s;" animateOnScroll animationName="fadeInLeft">
            <p class="child-1-1-1">About</p>
        </div>
        <div class="child 1-2"></div>
        <div class="child-1-3">
            <p class="animated" style="animation-duration: 1s;" animateOnScroll animationName="fadeInLeft" style="animation-duration: 2s;">
                My name is <span style="color: #333333;">Mrinal Kumar karn</span> and my portfolio is a representation
                of all of that I have learned
                and accomplished as <span>C.S.E</span> student.I am a programmer who like to develop and build software
                things.
                I like reading books and am a <a href="https://dictionary.cambridge.org/dictionary/english/epicure"
                    target="_blank" style="color: #6d6d6d; text-decoration: none;">epicure</a> who always ready to learn
                new things.</p>
        </div>
        <div class="child-1-4">
           
            <div class="ln" >
                <a href="https://www.linkedin.com/in/mrinal-kumar-karn-502133171/" target="_blank" (mouseover)="ln = false" (mouseout)="ln = true">
                    <img alt="image" class="animated" animateOnScroll animationName="fadeInLeft"  style="animation-duration: 2s;" *ngIf="ln;else dark"
                    src="https://firebasestorage.googleapis.com/v0/b/portfolio-18e5a.appspot.com/o/svg%2Flinkedin-brands.svg?alt=media&token=db9cb4d5-8783-4d70-8174-e3806baf9461">
                    <ng-template #dark><img alt="image" src="https://firebasestorage.googleapis.com/v0/b/portfolio-18e5a.appspot.com/o/svg%2Flinkedin-brands-dark.svg?alt=media&token=1bfc927e-09c0-48c4-9a54-41ba9bb1cdf8"></ng-template>
                </a>
            </div>
            <div class="fb">
                <a href="https://www.facebook.com/mrinal.kumarkarn" target="_blank" (mouseover)="fb = false" (mouseout)="fb = true">
                    <img alt="image"  class="animated" animateOnScroll animationName="fadeInLeft"  style="animation-duration: 2s;" *ngIf="fb;else darkfb" src="https://firebasestorage.googleapis.com/v0/b/portfolio-18e5a.appspot.com/o/svg%2Ffacebook-square-brands.svg?alt=media&token=7e855148-fee0-4683-b68d-930a1b512984">
                    <ng-template #darkfb><img alt="image" src="https://firebasestorage.googleapis.com/v0/b/portfolio-18e5a.appspot.com/o/svg%2Ffacebook-square.svg?alt=media&token=7aa8a3e7-6351-4020-89f6-dbf95a85f959"></ng-template>
                </a>
            </div>
            <div class="gb">
                <a href="https://github.com/mrinal2305" target="_blank" (mouseover)="gb = false" (mouseout)="gb = true" >
                    <img alt="image" class="animated" animateOnScroll animationName="fadeInLeft"  style="animation-duration: 2s;" *ngIf="gb;else darkgb" src="https://firebasestorage.googleapis.com/v0/b/portfolio-18e5a.appspot.com/o/svg%2Fgithub-square-brands.svg?alt=media&token=d2bec14c-db1e-4f0e-9a80-dc7d9a6b6c58">
                    <ng-template #darkgb><img alt="image" src="https://firebasestorage.googleapis.com/v0/b/portfolio-18e5a.appspot.com/o/svg%2Fgithub-s.svg?alt=media&token=c7ecaf0a-1f06-49f3-bcf7-3c33f029b5f4"></ng-template>
                </a>
            </div>
            <div class="gm">
                <a href="mailto:mrinalkumarkarn24@gmail.com" target="_blank" (mouseover)="gm = false" (mouseout)="gm = true">
                    <img alt="image" class="animated" animateOnScroll animationName="fadeInLeft" style="animation-duration: 2s;" *ngIf="gm;else darkgm" src="https://firebasestorage.googleapis.com/v0/b/portfolio-18e5a.appspot.com/o/svg%2Fenvelope-square-solid.svg?alt=media&token=12d2f1e4-21f5-45cd-9245-9d5c703b6729">
                    <ng-template #darkgm><img alt="image" src="https://firebasestorage.googleapis.com/v0/b/portfolio-18e5a.appspot.com/o/svg%2Fenvelope-square.svg?alt=media&token=aa763be0-1bee-47ef-8b88-3032b3828d7e"></ng-template>
                </a>
            </div>
          
        </div>
    </div>
    <div class="child-2">
        <div class="child-2-1 animated" style="animation-duration: 2s;" animateOnScroll animationName="fadeInRight" >
            <p class="child-2-1-1">Education</p>
        </div>
        <div class="child-2-2 animated" animateOnScroll animationName="fadeInRight" style="animation-duration: 2s;">
            <div class="child-2-3-1">
                <div class="child-2-3-1-1">
                    <p>Sunshine Prep/High School</p>
                </div>
                <div class="child-2-3-1-2">
                    <p>X</p>
                </div>
                <div class="child-2-3-1-3">
                    <p>2015-2017</p>
                </div>
                <div class="child-2-3-1-4">
                    <p>10 CGPA</p>
                </div>
            </div>
        </div>
        <div class="child-2-3 animated " animateOnScroll animationName="fadeInRight" style="animation-duration: 2s;">
            <div class="child-2-3-1">
                <div class="child-2-3-1-1">
                    <p>School of Creative Learning</p>
                </div>
                <div class="child-2-3-1-2">
                    <p>XII</p>
                </div>
                <div class="child-2-3-1-3">
                    <p>2017-2021</p>
                </div>
                <div class="child-2-3-1-4">
                    <p>84.6 %</p>
                </div>
            </div>
        </div>
        <div class="child-2-4 animated" animateOnScroll animationName="fadeInRight" style="animation-duration:2s">
            <div class="child-2-3-1">
                <div class="child-2-3-1-1">
                    <p>NIT ,PATNA</p>
                </div>
                <div class="child-2-3-1-2 cse">
                    <p>B.Tech ,CSE</p>
                </div>
                <div class="child-2-3-1-3">
                    <p>2017-Current</p>
                </div>
                <div class="child-2-3-1-4">
                    <p>7.60 CGPA</p>
                </div>
            </div>
        </div>
    </div>
</div>