ul{
    margin : 0 auto;
    animation: moveDown 0.5s ease-in-out;
}

li{
    list-style: none;
    flex : 0 0 8%;
    padding-top: 4px;
}

a{
   text-decoration: none;
}

a:hover{
   background-color: red;
   transition:all 0.3s ease-in-out;
   text-decoration: none;
}

.active{
    background-color: blue;
}

.row{
    display: flex;
    flex-direction: row;
}