<ul class="row">
    <li class="col"><a (click)="click($event)"  href="#home" id="6" #home>Home</a></li>
    <li class="col"><a (click)="click($event)"  id="1" href="#education" [ngClass]="{'active': currentActive == 1}" #edu>Education</a></li>
    <li class="col"><a (click)="click($event)"  href="#skill" id="2" [ngClass]="{'active': currentActive == 2}">Skill</a></li>
    <li class="col"><a (click)="click($event)"  href="#project" id="3" [ngClass]="{'active': currentActive == 3}">Project</a></li>
    <li class="col"><a (click)="click($event)"  href="#experience" id="4" [ngClass]="{'active': currentActive == 4}">Experience</a></li>
    <li class="col"><a (click)="click($event)"  href="#contact" id="5" [ngClass]="{'active': currentActive == 5}">Contact</a></li>
    <li class="col"><a href="#">Resume</a></li>
</ul>
<!-- ng-directive very usefull -->