<div class="grid-parent">
    <div class="child-1">
        <div class="child-1-1"><p  class="animated" animateOnScroll animationName="fadeInLeft">Traning</p></div>
        <div class="child-1-2">
            <div class="child-1-2-1 child-1-2-1 animated delay-1s" animateOnScroll animationName="fadeIn" (mouseover)="overmongo()" (mouseout)="outmongo()" [ngStyle]="mongo?high:low">
                <div class="child-1-2-1-1" >
                    <img src="./../../assets/certi/university-mongodb-com-1024x768desktop-b4b4cf.jpg"> 
                </div>
                <div class="child-1-2-1-2">
                    <div class="child-1-2-1-2-1">MongoDB Basic
                    </div>
                    <div class="child-1-2-1-2-2">
                       Mar 2019-Apr 2019
                    </div>
                    <div class="child-1-2-1-2-3">
                        MonogDB University
                    </div>
                </div>
                <div class="child-1-2-1-3">
                    A Basis introduction to Mongo DB.
                </div>
                <div class="child-1-2-1-4">
                    <a href="http://university.mongodb.com/course_completion/bd7eddbc-e874-414c-b7a5-3a2c7bc5
                    " target="_blank">Certificate</a>
                </div>
            </div>

            <div class="child-1-2-1 child-1-2-1 animated delay-1s" animateOnScroll animationName="fadeIn" (mouseover)="overintern()"  (mouseout)="outintern()" [ngStyle]="intern?high:low" id="2">
                <div class="child-1-2-1-1">
                    <img src="./../../assets/certi/Bertelsmen.jpg">                
                </div>
                <div class="child-1-2-1-2">
                    <div class="child-1-2-1-2-1">Deep Learning
                    </div>
                    <div class="child-1-2-1-2-2">
                       Nov 2019-Mar 2020
                    </div>
                    <div class="child-1-2-1-2-3">
                        Udacity
                    </div>
                </div>
                <div class="child-1-2-1-3">
                    A 3 month challenge course from Udacity.Bertelsmann AI challenge course.
                </div>
                <div class="child-1-2-1-4">
                    <a href="https://firebasestorage.googleapis.com/v0/b/oshop-746be.appspot.com/o/Bertelsmen.jpg?alt=media&token=3e5682fe-e832-457c-bf24-540acda37fd1
                    " target="_blank">Certificate</a>
                </div>
            </div>
            
            <div class="child-1-2-1 animated delay-1s" animateOnScroll animationName="fadeIn" (mouseover)="overmarket()" (mouseout)="outmarket()" [ngStyle]="market?high:low" id="3">
                <div class="child-1-2-1-1">
                    <img src="./../../assets/certi/download.png">
                </div>
                <div class="child-1-2-1-2">
                    <div class="child-1-2-1-2-1">Digital Marketing
                    </div>
                    <div class="child-1-2-1-2-2">
                       Nov 2019-Jan 2019
                    </div>
                    <div class="child-1-2-1-2-3">
                        Internshala
                    </div>
                </div>
                <div class="child-1-2-1-3">
                    A Digital marketing 6 week traning course from Internshala.
                </div>
                <div class="child-1-2-1-4">
                    <a href="https://firebasestorage.googleapis.com/v0/b/oshop-746be.appspot.com/o/Digital%20Marketing%20Training%20-%20Certificate%20of%20Completion%20(1).pdf?alt=media&token=a4c36ecf-b2a0-4a83-9d00-b3788b9c6a81
                    " target="_blank">Certificate</a>
                </div>
            </div>
           
        </div>
        <div class="child-1-3"></div>
    </div>
    <div class="child-2"> <!-- Add More as experience grew -->
        <div class="child-2-1"><p  class="animated" animateOnScroll animationName="fadeInLeft">Experience</p></div>
        <div class="child-2-2"><li class="animated delay-1s" animateOnScroll animationName="fadeIn">Developed web pages in Hackathon, Private Startup</li></div>
        <div class="child-2-3"><li  >Worked on Full Stack Development Project</li></div>
    </div>
</div>