<div class="grid-parent">
    <div class="child-1">
        <div class="child-1-1">Traning</div>
        <div class="child-1-2">
            <div class="child-1-2-1">MongoDB M001</div>
            <div class="child-1-2-1">Bertelsmenn DL</div>
            <div class="child-1-2-1">Internshala Digital Marketing</div>
        </div>
        <div class="child-1-3"></div>
    </div>
    <div class="child-2"> <!-- Add More as experience grew -->
        <div class="child-2-1">Experience</div>
        <div class="child-2-2">Developed web pages in Hackathon, Private Startup</div>
        <div class="child-2-3">Worked on Full Stack Development Project</div>
    </div>
</div>