.grid-container {
    display: grid;
    grid-template-rows: 13% 4% 14% 3% 14% 1% 14% 3% 14% 3% 14% 3%;
    grid-template-columns: 100%;
    height: 100%;
    width: 100%;
}

.child-1 {
    grid-row: 1/2;
    width: 10%;
    margin-left: 45%;
    margin-right: 45%;
}


#myProgress {
    width: 100%; 
    background-color: grey;
  }

  #myBar {
    width: 10%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white;
  }

.child-1 p {
    color: #6d6d6d;
    font-size: SSSem;
    font-family: Raleway;
    font-size: 2.5em;
    font-weight: 500;
    margin: 0;
}

.child-2 {
    grid-row: 3/4;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% repeat(6, 12.5%);
}

.child-2-1{
    font-family: OpenSans;
    padding : 4%;
}

.child-2-1 p {
    font-family: OpenSans;
    color: #424242;
    font-size: 1.3em;
    margin-top: 10%;
    margin-left: 15%;
}

.child-3 {
    grid-row: 5/6;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% repeat(6, 12.5%);
}

.child-4 {
    grid-row: 7/8;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% repeat(6, 12.5%);
}

.child-5 {
    grid-row: 9/10;

    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% repeat(6, 12.5%);
}

.child-6 {
    grid-row: 11/12;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 25% repeat(6, 12.5%);
}

img {
    height: 100%;
    width: 100%;
    
}

.img{
    height: 60%;width: 50%;margin: 5%;
}


