<div class="grid-container">
    <div class="child-1">
        <p>Skill</p>
    </div>
    <div class="child-2">
        <div class="child-2-1">
            <p> Programming Language</p>
        </div>
        <div class="child-2-1">
            <img src="./../../assets/skills/c.png">
        </div>
        <div class="child-2-1">
            <img src="https://upload.wikimedia.org/wikipedia/commons/d/dc/Javascript-shield.png">
        </div>
        <div class="child-2-1">
        </div>
        <div style="font-family: OpenSans;" class="child-2-1">
            <circle-progress [percent]="60" [radius]="42" [outerStrokeWidth]="5" [innerStrokeWidth]="3" [space]="-7"
              [animation]="true"  [title]="'HTML'"
                [animationDuration]="300" [subtitle]="'60%'"></circle-progress>
        </div>
        <div class="child-2-1"></div>
        <div class="child-2-1"></div>
    </div>
    <div class="child-3">
        <div class="child-2-1">
            <p>Devlopment</p>
        </div>
        <div class="child-2-1">
            <img src="https://img.icons8.com/color/240/000000/html-5.png" />
        </div>
        <div class="child-2-1"><img src="https://img.icons8.com/color/240/000000/css3.png" /> </div>
        <div class="child-2-1"><img style="width: 55%;
            height: 105%;
            margin: 9%;
            margin: 6% 20%;" style="height:80%;width:70%" src="https://img.icons8.com/officel/160/000000/react.png">
        </div>
        <div class="child-2-1"><img src="https://img.icons8.com/color/240/000000/angularjs.png"></div>
        <div class="child-2-1"><img src="https://hackr.io/tutorials/electron/logo-electron.svg?ver=1551354757"></div>
        <div class="child-2-1"> <img src="https://img.icons8.com/color/480/nodejs.png">
        </div>
    </div>
    <div class="child-4">
        <div>
        </div>
        <div class="child-2-1"><img src="https://cdn.iconscout.com/icon/free/png-512/jquery-10-1175155.png">
        </div>
        <div class="child-2-1">
            <img
                src="https://3.bp.blogspot.com/-wNBgAfRVsag/XJPxeL-NY3I/AAAAAAAAJRM/NfJn04otlzM0gyUhV8sj_w_ak0wuZQPpACK4BGAYYCw/s1600/logo%2Bbootstrap%2Bicon.png">
        </div>
        <div class="child-2-1"></div>
        <div class="child-2-1"></div>
        <div class="child-2-1"></div>
        <div class="child-2-1"></div>
    </div>
    <div class="child-5">
        <div class="child-2-1">
            <p>Databases</p>
        </div>
        <div class="child-2-1">
            <img src="https://img.icons8.com/color/480/mongodb.png">

        </div>
        <div class="child-2-1"> <img src="https://www.freeiconspng.com/uploads/sql-database-icon-png-17.png">
        </div>
        <div class="child-2-1">
            <img src="https://firebase.google.com/downloads/brand-guidelines/PNG/logo-vertical.png">
        </div>
        <div class="child-2-1"></div>
        <div class="child-2-1"></div>
        <div class="child-2-1"></div>
    </div>
    <div class="child-6">
        <div class="child-2-1">
            <p>Others</p>
        </div>
        <div class="child-2-1"> <img src="https://cdn.worldvectorlogo.com/logos/figma-1.svg">
        </div>
        <div class="child-2-1">
            <img src="https://www.freeiconspng.com/uploads/github-logo-icon-16.png">
        </div>
        <div class="child-2-1"><img
                src="https://repository-images.githubusercontent.com/228680590/a2865300-2f2c-11ea-9e67-839d7c618d69">
        </div>
        <div class="child-2-1"></div>
        <div class="child-2-1"></div>
        <div class="child-2-1"></div>
    </div>
</div>