<div class="grid-container">
    <div class="child-1">Skill</div>  
    <div class="child-2"> 
        <div class="child-child">
            <p> programming Language</p>
        </div>
        <div class="child-child">
          
        </div>
        <div class="child-child"></div>
        <div class="child-child"></div>
        <div class="child-child"></div>
        <div class="child-child"></div>
        <div class="child-child"></div>
    </div>
    <div class="child-3">
        <div class="child-child">
            <p>Devlopment</p>
        </div>
        <div class="child-child"></div>
        <div class="child-child"></div>
        <div class="child-child"></div>
        <div class="child-child"></div>
        <div class="child-child"></div>
        <div class="child-child"></div>
    </div>
    <div class="child-4">
        <div class="child-child">
           
        </div>
        <div class="child-child"></div>
        <div class="child-child"></div>
        <div class="child-child"></div>
        <div class="child-child"></div>
        <div class="child-child"></div>
        <div class="child-child"></div>
    </div>
    <div class="child-5">
        <div class="child-child">
            <p>Databases</p>
        </div>
        <div class="child-child">MongoDB</div>
        <div class="child-child">My SQL</div>
        <div class="child-child">Firebase</div>
        <div class="child-child"></div>
        <div class="child-child"></div>
        <div class="child-child"></div>
    </div>  
    <div class="child-6">
        <div class="child-child">
            <p>Others</p>
        </div>
        <div class="child-child"></div>
        <div class="child-child"></div>
        <div class="child-child"></div>
        <div class="child-child"></div>
        <div class="child-child"></div>
        <div class="child-child"></div>
    </div>
</div>