.home{
    
    height: 100%;
}

.education{
    background-color : #f5f5f6;
    height: 100%;
}

.animated{
    background-color: #6d6d6d;
    height: 5%; 
    color: rgba(255, 255, 255, 0.87);
}

.skill{
    background-color: darkcyan;
    height: 120%;
}

.project{
    background-color: darkgoldenrod;
    height: 100%;
}

.experience{
    background-color: darkorchid;
    height: 100%;
}

.contact{
    background-color: #424242;  
    height: 100%;
}

.logo{
    background-color: #1b1b1b;
    height: 3%;
}

.sticky {
    background: #6d6d6d;
    box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
    position: fixed;
    top: 0;
    height: 5%;
    width: 100%;
    animation: moveDown 0.5s ease-in-out;
}

ul{
    margin : 0 auto;
    
}

li{
    list-style: none;
    flex : 0 0 8%;
    padding-top: 4px;
}

a{
   text-decoration: none;
   color : white;
}

a:hover{
   color: black;
   transition:all 0.3s ease-in-out;
   text-decoration: none;
}

.active{
   
    border-bottom: 2px solid black;
    padding-bottom: 8px;
    color: black;
}

.row{
    display: flex;
    flex-direction: row;
}