<div class="grid-container">
    <div class="child-1">
        <p>Project</p>
    </div>
    <div class="child-2">
        <div class="child-2-1">Hack_2020</div>
        <div class="child-2-1">Express</div>
        <div class="child-2-1">Oshop</div>
        <div class="child-2-1">ReadIt</div>
        <div class="child-2-1">Tic-Tac-Toe</div>
    </div>
    <div class="child-3">
        <div class="child-2-1">Shopping List</div>
        <div class="child-2-1">Clone</div>
        <div class="child-2-1">Logo</div>
        <div class="child-2-1"></div>
        <div class="child-2-1"></div>
    </div>
</div>