<div class="grid-container">

    <div class="child-1 animated bounceIn" style="animation-duration: 2s;">
        <img src="./../../assets/images/welcome.png" alt="Welcome">
    </div>
    <div class="child-3">
        <div class="child-3-1">
            <p class=" animated fadeIn delay-1s">I'm M.K.K</p>
        </div>
    </div>
    <div class="child-2">
        <button class="animated fadeInUp delay-2s "><a href="#education">
            View My Work
        </a></button>
    </div>
    
</div>